<configuration scan="true" scanPeriod="5 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>

  <logger name="chronojob" level="INFO"/>
  <logger name="com.mchange.v2.c3p0" level="WARN"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
